[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
names = "*"
rope = "*"
yapf = "*"

[packages]
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask = "*"
pyyaml = "*"
webargs = "*"
bcrypt = "*"
cryptography = "*"
python-jose = {extras = ["cryptography"],version = "*"}
qrcode = {extras = ["pil"],version = "*"}

[requires]
python_version = "3.7"
