[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
names = "*"
rope = "*"

[packages]
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-restful = "*"
flask = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
