-i https://pypi.org/simple/
bcrypt==3.1.7
cffi==1.14.5
click==7.1.2
cryptography==2.8
ecdsa==0.16.1
flask-marshmallow==0.11.0
flask-sqlalchemy==2.4.1
flask==1.1.1
greenlet==1.0.0 ; python_version >= '3'
importlib-metadata==4.0.1 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
marshmallow-sqlalchemy==0.22.3
marshmallow==3.11.1
pillow==8.2.0
pyasn1==0.4.8
pycparser==2.20
python-jose[cryptography]==3.1.0
pyyaml==5.3
qrcode[pil]==6.1
rsa==4.7
six==1.15.0
sqlalchemy==1.4.12
typing-extensions==3.7.4.3 ; python_version < '3.8'
webargs==6.0.0
werkzeug==1.0.1
zipp==3.4.1
